//CABECERA
.breadcrumb {
	background: #f8f9fa;
    &-item {
        font-size: 0.85rem;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        font-weight: 900;
        color: #111111;
        a {
            color: inherit;
            transition: all 0.3s;
            &:hover {
                color: #dcb14a;
                text-decoration: none;
            }
            &:focus {
                color: #dcb14a;
                text-decoration: none;
            }
        }
        &.active {
            color: #aaa;
        }
    }
}
//NOUISLIDER
.noUi{
    &-target {
        background: #efefef;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    &-horizontal {
        height: 3px;
    }
    &-connect {
        background: #111111;
    }
    &-tooltip {
        font-size: 0.75rem;
        font-family: inherit;
        background: #fff;
        border-radius: 0;
        border: none;
        color: #111111;
        padding: 0.2rem 0;
    }
}
@media (max-width: 991.98px) {
  .noUi-horizontal {
    height: 4px;
  }
  .noUi-horizontal .noUi-handle {
    top: -3px;
  }
}
.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 10px;
  right: -10px;
  top: -4px;
  outline: none;
  border-radius: 50%;
  background: #111111;
  border: none !important;
  box-shadow: none;
  cursor: pointer;
}
.noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after {
  display: none;
}
.noUi-handle-lower .noUi-tooltip {
  left: 0;
  -webkit-transform: none;
  transform: none;
}
.noUi-handle-upper .noUi-tooltip {
  left: auto;
  right: 0;
  -webkit-transform: none;
  transform: none;
}